body {
    background-color: rgb(185, 230, 255);
}
h2{
    font-family: sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-family: sans-serif;
    color: brown;
}

p {
    font-family: fantasy;
    font-size: 18px;
    text-align: justify;
}

#destaque {
    font-weight: bold;
}

.comunic {
    font-size: xx-large;
    color: coral;
    font-style: oblique;
}

.criat {
    font-size: large;
    color: crimson;
}

.lid {
    font-size: medium;
    color: darkgreen;
}

.gestp {
    font-size: small;
    color: sienna;
}

.int {
    font-size: smaller;
    color: darkgray ;
}

.foto-link {
    font-size: 30px;
    color: blueviolet;
}

.blog-link {
    font-size: 25px;
    color: tomato;
}

.descr-link {
    font-size: 35px;
    color: yellow;
}

.hab-link {
    font-size: 50px;
    font-style: italic;
    color: teal;
}

#first-div {
    display: inline;
    text-align: center;
}

#first-div-02 {
    width: 500px;
    height: 435px;
    padding: 10px;
    background-color: bisque;
}

#first-div-03 {
    margin-left: 550px;
    margin-top: -470px;
    width: 300px;
    height: 100px;
}
.habilidades {
    margin-top: 400px;
}

ul li:nth-of-type(odd) {
    background-color: aqua;
    font-style: italic;
}
